<center>
    <h1>Small Business Administration</h1>
    <h2>Paycheck Protection Program Recipients</h2>
    <h3>Wrangling $150k &amp; Below Loans</h3>
</center>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'D:\Documents\Projects\PPP All States.csv',low_memory=False,index_col=0)

C:\Users\Kareem\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
ppp=df.copy()

In [4]:
ppp.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,LoanAmount
0,NaN,NaN,NaN,FAIRBANKS,AK,99709.0,541110.0,Sole Proprietorship,Unanswered,Male Owned,Unanswered,NaN,11.0,04/08/2020,Northrim Bank,AK - 00,149927.0
1,NaN,NaN,NaN,JUNEAU,AK,99801.0,238220.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,8.0,04/30/2020,Alaska USA FCU,AK - 00,149577.0
2,NaN,NaN,NaN,ANCHORAGE,AK,99501.0,813990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,16.0,05/13/2020,Denali State Bank,AK - 00,149465.0
3,NaN,NaN,NaN,ANCHORAGE,AK,99501.0,488190.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,12.0,04/09/2020,Alaska USA FCU,AK - 00,149300.0
4,NaN,NaN,NaN,KETCHIKAN,AK,99901.0,541211.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,15.0,06/19/2020,First Bank,AK - 00,149000.0

In [5]:
ppp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4224170 entries, 0 to 4224169
Data columns (total 17 columns):
 #   Column         Dtype
---  ------         -----
 0   LoanRange      float64
 1   BusinessName   float64
 2   Address        float64
 3   City           object
 4   State          object
 5   Zip            float64
 6   NAICSCode      float64
 7   BusinessType   object
 8   RaceEthnicity  object
 9   Gender         object
 10  Veteran        object
 11  NonProfit      object
 12  JobsRetained   float64
 13  DateApproved   object
 14  Lender         object
 15  CD             object
 16  LoanAmount     float64
dtypes: float64(7), object(10)
memory usage: 580.1+ MB

In [6]:
ppp.NAICSCode.unique()
p=ppp.copy()
p.NAICSCode = p.NAICSCode.fillna(0)
display(ppp.head(1))
#pd.to_numeric(p.NAICSCode)
p.NAICSCode=p.NAICSCode.astype(int)
display(ppp.head(1))

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,LoanAmount
0,NaN,NaN,NaN,FAIRBANKS,AK,99709.0,541110.0,Sole Proprietorship,Unanswered,Male Owned,Unanswered,NaN,11.0,04/08/2020,Northrim Bank,AK - 00,149927.0

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,LoanAmount
0,NaN,NaN,NaN,FAIRBANKS,AK,99709.0,541110.0,Sole Proprietorship,Unanswered,Male Owned,Unanswered,NaN,11.0,04/08/2020,Northrim Bank,AK - 00,149927.0

In [7]:
industry=pd.read_csv(r'D:\Documents\Projects\naics industry.csv')
print(industry.head(1))
sector=pd.read_csv(r'D:Documents\Projects\naics sector.csv')
print(sector.head(1))
industry.industry.str.strip()
print(industry.head(1))
sector.Description.str.strip()
print(sector.head(1))

   naics                       industry
0    111  Crop ProductionT
   Sector                                 Description
0      11  Agriculture, Forestry, Fishing and Hunting
   naics                       industry
0    111  Crop ProductionT
   Sector                                 Description
0      11  Agriculture, Forestry, Fishing and Hunting

In [8]:
code=industry.naics.tolist()
desc=industry.industry.tolist()
scode=sector.Sector.tolist()
sdesc=sector.Description.tolist()
print(desc[0:3])
des=[]
for d in desc:
    des.append(d.rstrip(' '))
print(des[0:3])
desc=des
print(desc[0:3])

['Crop ProductionT             ', 'Oilseed and Grain FarmingT           ', 'FarmingT              ']
['Crop ProductionT', 'Oilseed and Grain FarmingT', 'FarmingT']
['Crop ProductionT', 'Oilseed and Grain FarmingT', 'FarmingT']

In [9]:
pcodes=ppp.NAICSCode.tolist()

In [10]:
ind=[]
sec=[]
secC=[]
for p in pcodes:
    pc=str(p)
    try:
        p=int(pc[:-2])
        sc=int(pc[:2])
        try:
            index=code.index(p)
            ind.append(desc[index])
            sindex=scode.index(sc)
            sec.append(sdesc[sindex])
            secC.append(int(scode[sindex]))
        except:
            ind.append('NA')
            sec.append('NA')
            secC.append(0)
    except:
        ind.append('NA')
        sec.append('NA')
        secC.append(0)

In [11]:
ppp['Industry']=ind
ppp['SectorCode']=secC
ppp['Sector']=sec

In [12]:
ppp.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,LoanAmount,Industry,SectorCode,Sector
0,NaN,NaN,NaN,FAIRBANKS,AK,99709.0,541110.0,Sole Proprietorship,Unanswered,Male Owned,Unanswered,NaN,11.0,04/08/2020,Northrim Bank,AK - 00,149927.0,of Lawyers,54,"Professional, Scientific, and Technical Services"
1,NaN,NaN,NaN,JUNEAU,AK,99801.0,238220.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,8.0,04/30/2020,Alaska USA FCU,AK - 00,149577.0,"Heating, and Air-Conditioning Contractors",23,Construction
2,NaN,NaN,NaN,ANCHORAGE,AK,99501.0,813990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,16.0,05/13/2020,Denali State Bank,AK - 00,149465.0,"Similar Organizations (except Business, Profes...",81,Other Services (except Public Administration)
3,NaN,NaN,NaN,ANCHORAGE,AK,99501.0,488190.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,12.0,04/09/2020,Alaska USA FCU,AK - 00,149300.0,Support Activities for Air Transportation,48,Transportation and Warehousing
4,NaN,NaN,NaN,KETCHIKAN,AK,99901.0,541211.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,15.0,06/19/2020,First Bank,AK - 00,149000.0,of Certified Public Accountants,54,"Professional, Scientific, and Technical Services"

In [13]:
ppp.to_csv(r'D:\Documents\Projects\PPP All States Updated.csv')